{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="booking">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>Edit booking</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="POST">
          {{ form.as_p }}
          {% csrf_token %}
          <button type="submit" aria-label="update booking button" class="btn-get-started right">Update Booking</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        {% if booking.status == 0 %}
        <a href="{% url 'bookings-pending' %}" aria-label="button for back to pending bookings"><button class="btn-get-started right" type="submit">Back to pending bookings</button></a>
        {% else %}
        <a href="/bookings" aria-label="button for back to bookings"><button class="btn-get-started right" type="submit">Back to bookings page</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}