{% extends "base.html" %}

{% block content %}

<section class="booking pending-booking-page">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 ">
        <h3>Pending bookings</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="/bookings" aria-label="button for back to bookings"><button class="btn-get-started right" type="submit">Back to bookings page</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="booking-content">
          <p>{{ booking.reference }}</p>
          <p>{{ booking.date }}</p>
          <p>{{ booking.time }}</p>
          <p>{{ booking.group_size }}</p>
          <div class="delete">
            <form method="POST">
              {% csrf_token %}
              <button type="submit" aria-label="delete booking button" class="btn-get-started right">Delete this booking?</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}