{% extends "base.html" %}

{% block content %}

<section class="booking">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{{ user.get_username}}'s bookings</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <p>Please select from the below options:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div>
          <a href="{% url 'bookings-new' %}" aria-label="button for new booking"><button class="btn-get-started right"
              type="submit">New Booking</button></a>
          <a href="{% url 'bookings-pending' %}" aria-label="button for pending booking"><button
              class="btn-get-started right" type="submit">View Pending Bookings</button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div>
          <h4>Upcoming Approvoed Bookings</h4>
        </div>
        <div class="row">
          {% for booking in booking_list %}
          {% if booking.customer == user %}
          <div class="col-12 col-md-4">
            <div class="booking-content">
              <p>{{ booking.reference }}</p>
              <p>{{ booking.date }}</p>
              <p>{{ booking.time }}</p>
              <p>{{ booking.group_size }}</p>
              <div>
                <a href="{% url 'bookings-edit' booking.id %}" aria-label="edit booking button"><button
                    class="btn-get-started right" type="submit">Edit booking</button></a>
                <a href="{% url 'bookings-delete' booking.id %}" aria-label="cancel booking button"><button
                    class="btn-get-started right" type="submit">Cancel booking</button></a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}