{% extends "base.html" %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/djzciemum/image/upload/v1690128504/static/img/slide/steak1.d8efb1ecf28d.jpg');" aria-label="Hero image 1 of a cut steak">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Welcome to SteakOverflow</h2>
              <p class="animate__animated animate__fadeInUp">At SteakOverflow, we've crafted a one-of-kind restaurant
                that celebrates the art of cooking and the brilliance of programming.</p>
              <div>
                <a href="#menu" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/djzciemum/image/upload/v1690128503/static/img/slide/steak2.9a9816c057ce.jpg');" aria-label="Hero image 1 of a steak being cut">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Our culinary journey</h2>
              <p class="animate__animated animate__fadeInUp">It begins with a menu inspired by the very languages and
                frameworks that power the digital realm. Delight your taste buds with our carefully curated selection of
                steak dishes, each named after iconic coding concepts and languages.</p>
              <div>
                <a href="#menu" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/djzciemum/image/upload/v1690128502/static/img/slide/steak3.03345f1a8865.jpg');" aria-label="Hero image 3 of a cut steak">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Coding challenge</h2>
              <p class="animate__animated animate__fadeInUp">Are you up for the thrill of debugging and the reward of a
                delicious treat? See below for more information</p>
              <div>
                <a href="#challenge" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container">

    <div class="section-title">
      <h2>Menu</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-utensils"></i></div>
        <h4 class="title">Appetizers:</h4>
        <p class="description">
          <li>Binary Bruschetta - Diced tomatoes and basil served on toasted binary code baguette slices.</li>
          <li>Code Crunchers - Crispy potato chips seasoned with a secret blend of coding spices.</li>
          <li>Kernel Kebabs - Skewed and grilled pieces of tender marinated steak, served with a side of kernel sauce</li>
          <li>Debugging Dip - A creamy blend of melted cheese and jalapeños, accompanied by tortilla chips</li>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-utensils"></i></i></div>
        <h4 class="title">Salads:</h4>
        <p class="description">
          <li>Algorithm Avocado Salad - Fresh avocado slices, mixed greens, cherry tomatoes, and a tangy coding vinaigrette.</li>
          <li>Python Caesar Salad - Romaine lettuce, croutons, parmesan cheese, and python Caesar dressing.</li>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-utensils"></i></div>
        <h4 class="title">Steak Selections:</h4>
        <p class="description">
          <li>Object-Oriented Ribeye - A perfectly grilled ribeye steak seasoned with a mix of savory herbs.</li>
          <li>Git Prime Filet Mignon - A tender filet mignon, grilled to perfection, and served with a Git reduction sauce.</li>
          <li>Ruby-on-Rails New York Strip - Juicy New York strip steak marinated with a Ruby-on-Rails glaze.</li>
          <li>C++ Porterhouse - A hearty porterhouse steak seasoned with a robust C++ spice rub.</li>
          <li>HTML5 Hanger Steak - Flavorful hanger steak marinated in a zesty HTML5-inspired sauce.</li>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-utensils"></i></div>
        <h4 class="title">Sides:</h4>
        <p class="description">
          <li>Java-Baked Potato - A baked potato topped with butter, sour cream, and chives.</li>
          <li>SQL Smoky Mushrooms - Sauteed mushrooms seasoned with a smoky SQL blend.</li>
          <li>JavaScript Grilled Asparagus - Fresh asparagus spears lightly grilled with a touch of JavaScript-infused olive oil.</li>
          <li>CSS3 Onion Rings - Crispy onion rings coated with a CSS3-inspired breading.</li>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-ice-cream"></i></div>
        <h4 class="title">Desserts:</h4>
        <p class="description">
          <li>Raspberry Pi Pie - A delectable raspberry pie served with a scoop of vanilla ice cream.</li>
          <li>Code a la Mode - Warm chocolate brownie topped with a scoop of ice cream and a drizzle of hot fudge.</li>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa-solid fa-whiskey-glass"></i></div>
        <h4 class="title">Beverages</h4>
        <p class="description">
          <li>Java Mocha Latte - A delightful mocha latte with a hint of Java-inspired flavors.</li>
          <li>PHPunch - A refreshing fruit punch served with a PHP twist.</li>
          <li>Along with a variety of wine, beer, cider and soft drinks</li>
        </p>
      </div>
    </div>

  </div>
</section><!-- End Menu Section -->

<!-- ======= Challenge Section ======= -->
<section id="challenge" class="challenge">
  <div class="container">

    <div class="section-title">
      <h2>Coding Challenge</h2>
    </div>

    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" aria-label="Image of a compute with code on it"></div>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3>Welcome to our exciting 15-minute coding challenge</h3>
          <p>
            Here's how it works: we'll present you with a snippet of a code, carefully crafted to contain a sneaky bug.
          </p>
          <div class="row">
            <div class="col-md-6 icon-box">
              <i class="fa-solid fa-laptop-code"></i>
              <h4>Your mission, should you choose to accept it</h4>
              <p>Is to find and fix the bug within the time limit of 15 minutes. Let the coding games begin!</p>
            </div>
            <div class="col-md-6 icon-box">
              <i class="fa-solid fa-trophy"></i>
              <h4>Don't worry, we're not leaving you empty-handed!</h4>
              <p>Succesfully spot and squash the bug, and you'll be rewarded with your choice of complimentary starter or dessert of your liking from our mouthwatering menu.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Challenge Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="bi bi-geo-alt"></i>
          <h3>Address</h3>
          <address>12, Liverpool St, London EC2M 7PY</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-time">
          <i class="bi bi-clock"></i>
          <h3>Opening Hours</h3>
          <p>Monday: 12:00 - 22:30</p>
          <p>Tuesday: 12:00 - 22:30</p>
          <p>Wednesday: 12:00 - 22:30</p>
          <p>Thursday: 12:00 - 22:30</p>
          <p>Friday: 12:00 - 23:30</p>
          <p>Saturday: 12:00 - 23:30</p>
          <p>Sunday: 12:00 - 22:00</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email-phone">
          <i class="bi bi-envelope"></i><i class="bi bi-phone"></i>
          <h3>Email / Number</h3>
          <p><a href="mailto:hello@steakoverflow.com">hello@steakoverflow.com</a></p>
          <p><a href="tel:+442071775656">+44 20 7177 5656</a></p>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock %}